# File created using '.gitignore Generator' for Visual Studio Code: https://bit.ly/vscode-gig

# Created by https://www.gitignore.io/api/windows,visualstudiocode
# Edit at https://www.gitignore.io/?templates=windows,visualstudiocode

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# End of https://www.gitignore.io/api/windows,visualstudiocode

# Custom rules (everything added below won't be overriden by 'Generate .gitignore File' if you use 'Update' option)

# Database
*.db
*.db.corrupt.*
*.sqlite
# Backups
*.old
# Google translate
tts/
# Unknown
deps/
# Logs
*.log
*.log.fault
*.log.1
OZW_Log.txt
# Random's
.HA_VERSION
.spotify-token-cache
.uuid
.cloud/
.storage/
id_rsa
*.db-wal
*.db-shm
__pycache__/
zwcfg_*.xml

# Don't Store Secrets
secrets.yaml
somfy_secrets.h

# Frequent local changes
known_devices.yaml
custom_components/
appdaemon/
doorbell.png
garage.png
esphome/trash/
esphome/archive/
www/community/