substitutions:
  device_name: entry-dimmer
  light_name: Entry
  ip: "10.4.4.71"
  use_ip: ${ip}
  ssid: IoTL1
#####################################
packages:
  common_base: !include common/base.yaml
  device_base: !include common/dimmer2.yaml

button:
  - platform: restart
    name: ${device_name}-restart