substitutions:
  device_name: laundry-heater-mini
  channel_1: "Laundry Heater"
  ip: "10.4.4.20"
  use_ip: ${ip}
  ssid: IoTL1
  board: esp01_1m
#####################################
packages:
  common_base: !include common/base.yaml
  device_base: !include common/esp01_1m.yaml
#####################################
switch:
  - platform: gpio
    id: relay
    pin: GPIO12
    name: ${channel_1}
    icon: "mdi:heating-coil"

binary_sensor:
  - platform: gpio
    pin:
      number: GPIO04
    name: "${channel_1} input"
    on_state:
      then:
        - switch.toggle: relay